.toggleWrapper {
  padding: 7px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 12px;
}

.toggleWrapper span {
  -webkit-user-selec: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 325;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2B2929;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d9d9d9;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #040B2A;
}

input:focus + .slider {
  box-shadow: 0 0 1px #040B2A;
}

input:checked + .slider:before {
  -webkit-transform: translateX(8px);
  -ms-transform: translateX(8px);
  transform: translateX(8px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}